* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-bottom: 500px;
}

div {
  margin-bottom: 10px;
}

div input, div label {
  display: block;
}